<%-include("partials/header") %> 


    <div class="container">
        <div class="post-form">
            <h1 class="center "> <%= title %> </h1>

            <p class="center ">  <%= textArea %> </p>

            <ul id="view-list-buttons">
                <li><a style="text-decoration: none;" href="/"><button class="update-button" id="back-button">Back</button></a></li>                
                <li><a style="text-decoration: none;" href="/update-post/<%= title %>"><button class="submit-button">Update</button></a></li>
                <li><a style="text-decoration: none;" href="/delete-post/<%= title %>"><button id="delete" class="submit-button">Delete</button></a></li>
                
                
            </ul>
        </div> 

    </div>  
    
 
<%-include("partials/footer.ejs") %>
